@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }

   body {
    @apply text-slate-900 antialiased transition-colors duration-500;
  }

  .dark body {
    @apply text-slate-50;
  }
}